# Twitter follower analysis

Musk Twitter buyout date: 
April 25th.

https://www.theverge.com/2022/4/25/23028323/elon-musk-twitter-offer-buyout-hostile-takeover-ownership

In [1]:
import pandas as pd

In [2]:
dfcon = pd.read_csv('data_share/conservative-follows.csv')
dflib = pd.read_csv('data_share/liberal-follows.csv')

In [3]:
dfcon.head()

,username,display_name,date,followers,following,tweets,change,percent_change
0,bennyjohnson,Benny Johnson,2022-03-29,511129,2007,61193,NaN,NaN
1,bennyjohnson,Benny Johnson,2022-03-30,512507,2009,61219,1378.0,0.002696
2,bennyjohnson,Benny Johnson,2022-03-31,513809,2010,61266,1302.0,0.002540
3,bennyjohnson,Benny Johnson,2022-04-01,514723,2010,61311,914.0,0.001779
4,bennyjohnson,Benny Johnson,2022-04-02,515290,2010,61322,567.0,0.001102

What's the average follower count and the min / max? (on first day of dataset)

In [10]:
print("Conservative min-max-mean")
print(dfcon[dfcon.date=='2022-03-29'].followers.min())
print(dfcon[dfcon.date=='2022-03-29'].followers.max())
print(dfcon[dfcon.date=='2022-03-29'].followers.mean())

Conservative min-max-mean
130027
8473852
1356848.4

In [11]:
print("Liberal min-max-mean")
print(dflib[dflib.date=='2022-03-29'].followers.min())
print(dflib[dflib.date=='2022-03-29'].followers.max())
print(dflib[dflib.date=='2022-03-29'].followers.mean())

Liberal min-max-mean
100129
131391733
5949333.12

<hr>
What's the average number of followers gained BEFORE April 25?

In [16]:
print("Conservatives:")
print(f"Mean number change: {dfcon[dfcon.date<'2022-04-25'].change.mean()}")
print(f"Mean percent change: {dfcon[dfcon.date<'2022-04-25'].percent_change.mean()}")

Conservatives:
Mean number change: 940.7838461538462
Mean percent change: 0.0011028233316724876

In [17]:
print("Liberals:")
print(f"Mean number change: {dflib[dflib.date<'2022-04-25'].change.mean()}")
print(f"Mean percent change: {dflib[dflib.date<'2022-04-25'].percent_change.mean()}")

Liberals:
Mean number change: 627.4435049961568
Mean percent change: 0.00019439900274905648

<hr>
What's the average number of followers gained/lost ON or AFTER April 25?

In [20]:
print("Conservatives:")
print(f"Mean number change: {dfcon[dfcon.date>='2022-04-25'].change.mean()}")
print(f"Mean percent change: {dfcon[dfcon.date>='2022-04-25'].percent_change.mean()}")

Conservatives:
Mean number change: 9386.99
Mean percent change: 0.007125093451472163

In [21]:
print("Liberals:")
print(f"Mean number change: {dflib[dflib.date>='2022-04-25'].change.mean()}")
print(f"Mean percent change: {dflib[dflib.date>='2022-04-25'].percent_change.mean()}")

Liberals:
Mean number change: -3037.080808080808
Mean percent change: -0.0016706818907873313

<hr>
What about if we JUST look at April 26th?

In [22]:
print("Conservatives:")
print(f"Mean number change: {dfcon[dfcon.date=='2022-04-26'].change.mean()}")
print(f"Mean percent change: {dfcon[dfcon.date=='2022-04-26'].percent_change.mean()}")

Conservatives:
Mean number change: 17228.9
Mean percent change: 0.013523360740013835

In [23]:
print("Liberals:")
print(f"Mean number change: {dflib[dflib.date=='2022-04-26'].change.mean()}")
print(f"Mean percent change: {dflib[dflib.date=='2022-04-26'].percent_change.mean()}")

Liberals:
Mean number change: -6062.551020408163
Mean percent change: -0.003571463252576823

<hr>
Who had the biggest single gain/loss?

In [26]:
# Conservatives
dfcon[dfcon.change == dfcon.change.max()]

,username,display_name,date,followers,following,tweets,change,percent_change
260,GovRonDeSantis,Ron DeSantis,2022-04-26,2007613,1,5776,141566.0,0.075864

In [27]:
# Liberals
dflib[dflib.change == dflib.change.min()]

,username,display_name,date,followers,following,tweets,change,percent_change
840,KamalaHarris,Kamala Harris,2022-04-26,19644479,731,16505,-22453.0,-0.001142